.movie-card{
  height: 450px;
  width: 300px;
  border-radius: 5px;
  border: 2px solid white
  
}

.container{
  height: 750px;
  width: 300px;
  display: inline-block;
  margin: 20px;
  padding: 10px;
  

}

.left{
  float: left;
}

.right{
  float: right;
}

p{
  float: left;
}

*{
  background-color:black;
}

.content{
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: justify;
}
.left , .right {
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}

h1{
  color: rgb(255, 255, 255);
  text-align: center;
  font-size:45px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana,;
  border: 2px solid white;
  padding:4px;
  border-radius: 40px
}